extends layout

block layout-content
  div.View.WelcomeView
    h1.Banner
    div.Message
      div.Title
        h3 Coding is the future...
        h1 nodejs and express maybe too...
      span.Details Sign up now - 
    div.NavButtons
      a(href="/user")
          div.NavButton Login
  