extends layout

block layout-content
  div.View.UserView
    h1.Banner Hallo, #{userProfile.nickname}!
    div.Message
      div.Title
        h3 Coding is the future !
        h1 User ID
      pre.Details=JSON.stringify(userProfile, null, 2)
    div.NavButtons
      a(href="/logout")
        div.NavButton Log out